@font-face {
    font-family: Monserrat;
    src: url('fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 40px;
    background-color: #e70023;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
}

.general-content {
    width: 20%;
    border: 4px solid #979494;
    border-radius: 10px;
    display: block;
    margin: 10px;
}
.general-content:hover {
    border-color: rgb(216, 39, 83);
    box-shadow: 4px 4px 4px rgba(245, 124, 124, 0.2);;
}

p {
    font-weight: bold;
    text-align: center;
    font-family: Montserrat-BlackItalic;
}

.img-frutas {
    width: 70%;
    height: 300%;
    margin: auto;
    margin-left: 28px;
}

.img-lacteos {
    width: 70%;
    height: auto;
    margin: auto;
    margin-left: 28px;
}

.imagen-granos {
    width: 70%;
    height: auto;
    margin: auto;
    margin-left: 28px;
}