<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito Compras</title>
</head>
<body>
    <h1>SUPERMARKET</h1>
    <table>
        <tr>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>CANTIDAD</th>
            <th>ACCIONES</th>
        </tr>
        {% for item in items %}

            <tr>
                <td>{{ item['product'].nameProduct }}</td>
                <td>{{ item['product'].priceProduct }}</td>
                <td>{{ item['quantity'] }}</td>
                <td>

                </td>
            </tr>
            {% endfor %}
    </table>
    <a href="{{ url_for('factura.add')}}">Generar factura</a>
</body>
</html>

