<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <title>Category Index</title>
</head>
<div>
    <header class="full-header" >
        <h1>BIENVENIDOS A SUPERMARKET</h1>
    </header>
    <div class="max-content">
        <div class="general-content">
            <h2>FRUTAS Y VERDURAS</h2>
            <img class="img-frutas" src="{{ url_for('static', filename='imagenes/Verduras.jpeg') }}" alt="img verduras">
            <p>
                Descubre nuestra selección de frutas y verduras frescas, perfectas para una alimentación saludable y deliciosa. 
            </p>
        </div>
        <div class="general-content">
            <h2>LACTEOS Y HUEVOS</h2>
            <img class="img-lacteos" src="{{ url_for('static', filename='imagenes/Lacteos.png') }}" alt="img Lacteos y Huevos">
            <p>
                Descubre la frescura y nutrición de nuestros lácteos y huevos.
            </p>
        </div>
        <div class="general-content">
            <h2>ARROZ, GRANOS Y PASTAS</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Elige nuestro arroz, granos pastas premium, perfecto para acompañar tus comidas diarias.
            </p>
        </div>
        <div class="general-content">
            <h2>ACEITES, SAL Y ENDULZANTES</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Aceites.jpeg') }}" alt="img Aceites">
            <p>
                Descubre nuestros aceites, sales y endulzantes premium, perfectos para tus comidas.
            </p>
        </div>
        <div class="general-content">
            <h2>DESPENSA</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Descubre nuestro atún de alta calidad, perfecto para ensaladas, sándwiches y platillos rápidos y saludables.
            </p>
        </div>
        <div class="general-content">
            <h2>CARNES</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Descubre nuestras carnes de primera calidad, perfectas para asados, guisos y tus recetas favoritas.
            </p>
        </div>
        <div class="general-content">
            <h2>EMBUTIDOS</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Explora nuestra variedad de embutidos de alta calidad, ideales para tus desayunos, aperitivos y cenas.
            </p>
        </div>
        <div class="general-content">
            <h2>CONDIMENTOS Y SALSAS</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Descubre nuestra amplia variedad de condimentos y salsas, perfectos para transformar cualquier platillo.
            </p>
        </div>
        <div class="general-content">
            <h2>CAFE, GALLETAS Y PAN</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Disfruta de un café aromático y lleno de sabor, perfecto para empezar tu día o acompañar tus momentos de descanso.
            </p>
        </div>
        <div class="general-content">
            <h2>ASEO DEL HOGAR</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Descubre nuestra línea completa de productos de aseo del hogar, diseñados para mantener cada rincón de tu casa limpio.
        </div>
        <div class="general-content">
            <h2>CUIDADO PERSONAL</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Explora nuestra amplia gama de productos de cuidado personal, diseñados para que te sientas y luzcas increíble.
            </p>
        </div>
        <div class="general-content">
            <h2>MASCOTAS</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Descubre nuestra amplia variedad de alimentos y salsas para el bienestar de tus mascotas.
            </p>
        </div>
        <div class="general-content">
            <h2>LICORES</h2>
            <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
            <p>
                Descubre nuestra gama de licores premium, ideales para brindar en cualquier ocasión especial. 
            </p>
        </div>
    </div>
</body>
</html>