<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <title>Category Index</title>
</head>
<body>
    <h1>BIENVENIDOS A SUPERMARKET</h1>
    <div class="general-content">
        <h2>FRUTAS Y VERDURAS</h2>
        <img class="img-frutas" src="{{ url_for('static', filename='imagenes/Verduras.jpeg') }}" alt="img verduras">
        <h3>Descripcion:</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Nobis accusamus aspernatur mollitia, neque est
             dolorum velit consequuntur, minus laudantium totam 
             magni iure ad sit consequatur, ipsam nulla 
             reprehenderit perferendis dolore.
        </p>
        <!--<a href="{{ url_for('verdura.index')}}">IR</a>-->
    </div>
    <div class="general-content">
        <h2>LACTEOS Y HUEVOS</h2>
        <img class="img-lacteos" src="{{ url_for('static', filename='imagenes/Lacteos.png') }}" alt="img Lacteos y Huevos">
        <h3>Descripcion:</h3>
        <p>
            Descubre la frescura y nutrición de nuestros lácteos y huevos. Nuestros productos lácteos, 
            ricos en calcio y proteínas, fortalecen tus huesos y aportan un delicioso sabor a tus comidas.
             Los huevos, llenos de proteínas y vitaminas, son versátiles y perfectos para cualquier plato.
        </p>
    </div>
    <div class="general-content">
        <h2>ARROZ, GRANOS Y PASTAS</h2>
        <img class="imagen-granos" src="{{ url_for('static', filename='imagenes/Granos.jpg') }}" alt="img Granos">
        <h3>Descripcion:</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Nobis accusamus aspernatur mollitia, neque est
             dolorum velit consequuntur, minus laudantium totam 
             magni iure ad sit consequatur, ipsam nulla 
             reprehenderit perferendis dolore.
        </p>
    </div>
</body>
</html>